*.class
*.o
a.out
tps/tp01_2026/VerificacaoAnagramaIterativo/verifica
tps/tp01_2026/SubstringMaisLonga/sub
tps/tp03_2026/tp3/TP03Q10 - Ordenacao por Selecao com Lista Flexivel em C/Q10
tps/tp03_2026/tp3/TP03Q10 - Ordenacao por Selecao com Lista Flexivel em C/my.out
tps/tp03_2026/tp3/TP03Q10 - Ordenacao por Selecao com Lista Flexivel em C/797798_selecao.txt
tps/tp03_2026/tp3/TP03Q01 - Ordenacao Parcial por Selecao em Java/*.class
tps/tp03_2026/tp3/TP03Q01 - Ordenacao Parcial por Selecao em Java/my.out
tps/tp03_2026/tp3/TP03Q01 - Ordenacao Parcial por Selecao em Java/797798_selecao.txt
